<div ng-include="casillaproyectos.menutemplate.url"></div>
<h1 style="text-align: center;">Lista proyectos en postulación</h1>
<div class="container">
<table class="bordered striped">
        <thead>
          <tr>
              <td>Nombre proyecto
          </td>
          <td> Estado proyecto</td>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="p in proyectos | filter: {estado: 'Postulación fase 1'} " >
            <td>{{p.nombre}}</td>
            <td>{{p.estado}}</td>
            <td><a ng-href="#!/detallecasilla/{{p.idproyecto}}">Detalles<i class="material-icons left">info</i> </a>{{p.id}}</td>
            <td><a ng-click="update(p.idproyecto)">Aprobar<i class="material-icons left">check</i> </a>
                     </td>
            <td><a href="#!/editar/{{p.idproyecto}}">Editar<i class="material-icons left">edit</i> </a>
                    <a ng-click="submit(p.idproyecto)"></td>
          </tr>
        </tbody>
      </table>
</div>
