<div class="container">
  <h3 style="color: green">Detalles proyecto: {{proyectos.nombre}}</h3>
  <p>Identificador proyecto:{{proyectos.idproyecto}}</p> 
  <p>Responsable de proyecto: {{proyectos.razonsocial}}</p>
  <p>Rut Responsable: {{proyectos.rutsocial}}</p>
  <p>Tipo de organizacion: {{proyectos.organizacion}}</p>
  <p>Telefono de contacto: {{proyectos.telefono}}</p>
  <p>Mail de contacto: {{proyectos.usuario}}</p>
  <p>Proyecto contempla cobro a beneficiarios? : {{proyectos.tafifa}}</p>
  <p>Tipo de destinatarios del proyecto: {{proyecto.destinatarios}}</p>
  <p>Número de beneficiarios directos con el proyecto: {{proyectos.beneficiariodirecto}</p>
  <p>Número de beneficiarios indirectos con el proyecto: {{proyectos.beneficiarioindirecto}}</p>
  <p>Cantida de metros cuadras que se pretende construir: {{proyectos.dimensiones}}</p>
  <p>Duración del proyecto:{{proyectos.duracion}} meses</p>
  <p>Ubicación del proyecto:{{proyectos.region}}</p>
  <p>Meta de ahorro propuesta: {{proyectos.meta}} %</p>
  <p>Capital disponible para realizar el proyecto: ${{proyectos.dinero}}</p>
  <p>Dinero faltante para realizar el proyecto:${{proyectos.aporte}}</p>
  <p>Gasto en Recursos humanos: ${{proyectos.manodeobra}}</p>
  <p>Gasto en materiales: ${{proyectos.materiales}}</p>


</div>


