<div ng-controller="DetallesCtrl" >
	<div ng-include="crearproyecto.menutemplate.url"></div>
</div>
<div class="container">
	
	<h3 style="color: green">Detalles proyecto: {{proyectos.nombre}}</h3>
	<div class="row">
		<div class="input-field col s6">
			<p>Identificador proyecto:{{proyectos.idproyecto}}</p> 
		</div>
		<div class="input-field col s6">
		<p>Responsable de proyecto: {{proyectos.razonsocial}}</p>
		</div>
		<div class="input-field col s6">
			<p>Rut Responsable: {{proyectos.rutsocial}}</p>
		</div>
		<div class="input-field col s6">
			<p>Tipo de organizacion: {{proyectos.organizacion}}</p>
		</div>
		<div class="input-field col s6">
			<p>Telefono de contacto: {{proyectos.telefono}}</p>
		</div>
		<div class="input-field col s6">
			<p>Mail de contacto: {{proyectos.usuario}}</p>
		</div>
		<div class="input-field col s6">
			<p>Proyecto contempla cobro a beneficiarios? : {{proyectos.tarifa}}</p>
		</div>
		<div class="input-field col s6">
			<p>Tipo de destinatarios del proyecto: {{proyecto.destinatario}}</p>
		</div>
		<div class="input-field col s6">
			<p>Número de beneficiarios directos con el proyecto: {{proyectos.beneficiariodirecto}} Personas</p>
		</div>
		<div class="input-field col s6">
		<p>Número de beneficiarios indirectos con el proyecto: {{proyectos.beneficiarioindirecto}} Personas</p></div>
		<div class="input-field col s6">
			<p>Cantida de metros cuadras que se pretende construir: {{proyectos.dimensiones}} Metros cuadrados</p>
		</div>
		<div class="input-field col s6">
			<p>Duración del proyecto:{{proyectos.duracion}} meses</p>
		</div>
		<div class="input-field col s6">
			<p>Ubicación del proyecto:{{proyectos.region}}</p>
		</div>
		<div class="input-field col s6">
			<p>Meta de ahorro propuesta: {{proyectos.meta}} %</p>
		</div>
		<div class="input-field col s6">
			<p>Capital disponible para realizar el proyecto: ${{proyectos.dinero}}</p>
		</div>
		<div class="input-field col s6">
			<p>Dinero faltante para realizar el proyecto:${{proyectos.aporte}}</p>
		</div>
		<div class="input-field col s6">
			<p>Gasto en Recursos humanos: ${{proyectos.manodeobra}}</p>
		</div>
		<div class="input-field col s6">
			<p>Gasto en materiales: ${{proyectos.materiales}}</p>
		</div>
	</div>

</div>
