<div class="container">
	<h1 style="text-align: justify;">Configurar Efficient Home</h1>
	<p style="text-align: justify;">En esta sección podrás configurar tu kit Efficient Home para que puedas obtener los datos de tu consumo.</p>
	<form class=" col s12">
		<div class="input-field col s6">
			<input type="text" name="apikey" ng-model="">
			<label for="apikey">Ingresa tu APIKEY de Mlab</label>
		</div>
		<div class="input-field col s6">
			<input type="text" name="correo" ng-model="">
			<label for="correo">Ingresa tu correo</label>
		</div>
		<input class="btn waves-effect waves-red green" type="button" value="Enviar" ng-click="">
	</form>
</div><p>This is the efficient view.</p>
