<div ng-include="hcarbono.menutemplate.url"></div>


<ul class="collapsible" data-collapsible="expandible">
    <li>
      <div class="collapsible-header green lighten-2" ><i class="material-icons">filter_drama</i>¿Qué es la huella de carbono?</div>
      <div class="collapsible-body"><p align="justify">La huella de carbono es una de las formas más simples que existen de medir el impacto o la marca que deja una persona sobre el planeta en su vida cotidiana. Es un recuento de las emisiones de dióxido de carbono (CO2), que son liberadas a la atmósfera debido a nuestras actividades cotidianas o a la comercialización de un producto. Por lo tanto la huella de carbono es la medida del impacto que provocan las actividades del ser humano en el medio ambiente y se determina según la cantidad de emisiones de GEI producidos, medidos en unidades de dióxido de carbono equivalente.</p></div>
    </li>
    <li>
      <div class="collapsible-header green lighten-2"><i class="material-icons">lightbulb_outline</i>Objetivo huella de carbono</div>
      <div class="collapsible-body"><p align="justify">La Huella de Carbono busca calcular la cantidad de GEI que son emitidos directa o indirectamente a la atmósfera cada vez que se realiza una acción determinada y que las empresas puedan reducir los niveles de contaminación mediante un cálculo estandarizado de las emisiones durante los procesos productivos.</p></div>
    </li>
    <li>
      <div class="collapsible-header green lighten-2"><i class="material-icons">format_list_numbered</i>Categorias huella de carbono</div>
      <div class="collapsible-body"><p align="justify"><b>Fuentes directas</b> de propiedad,  o  controladas por la   compañía, incluyendo fuentes de combustión fijas y equipos móviles   de propiedad o controlados por la compañía utilizados  en faenas de   cosecha. Combustión y vehículos propios. <br><br>

     <b>Fuentes indirectas</b>originadas por las compras de electricidad y vapor <br> <br>

  	<b>Otras fuentes indirectas</b> derivadas de las actividades de la compañía. Las fuentes del Ámbito 3 incluyen el transporte de materias primas relevantes, el transporte de productos, el transporte de contratistas, el transporte de madera, equipos de faena de contratistas y viajes de negocios. Emisiones de terceros por actividades de la empresa ( viajes de negocio en avión, transporte contratado de personal, transporte de materias primas, transporte de productos, transporte de residuos, emisiones por uso de productos.)</p>
  <img src="images/huella_carbono.jpg"></div>
    </li>
  </ul>


