<div ng-include="inicio.menutemplate.url"></div>
<div class="container"> 
  <div class="slider">
    <ul class="slides">
      <li>
        <img class="responsive-img" src="images/plaza.jpg"> <!-- random image -->
        <div class="caption center-align ">
          <h3>Creación de nuevas plazas para la comunidad</h3>
          <h5 class="light white-text text-lighten-3 ">Antiguo terreno utilizado como basural, ahora es un punto de reunión.</h5>
        </div>
      </li>
      <li>
        <img class="responsive-img" src="images/juegos.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Nuevos juegos para niños</h3>
          <h5 class="light white-text text-lighten-3">Renovación antiguos juegos oxidados, por juegos nuevos.</h5>
        </div>
      </li>
      <li>
        <img class="responsive-img" src="images/luz.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>Nueva luminaria pública</h3>
          <h5 class="light white-text text-lighten-3">Cambio de antiguas ampolletas alogenas de alto consumo, por ampolletas led de bajo consumo.</h5>
        </div>
      </li>
      <li>
        <img class="responsive-img" src="images/pavimento.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Repavimentación de calles</h3>
          <h5 class="light white-text text-lighten-3">Reparación de calles que se encontraban con hoyos y grietas.</h5>
        </div>
      </li>
    </ul>
  </div>
  <div class="col s12">
  <div class=" input-field col s6"><a class="waves-effect waves-light btn" href="/#!/crearproyecto">Agregar Proyectos</a></div>
  <div class="input-field col s6"><a class="waves-effect waves-light btn" href="/#!/listaproyectos">Lista de proyectos</a></div>
<!-- <div class="input-field col s6"><a class="waves-effect waves-light btn" href="/#!/casillaproyectos">Casilla de proyectos</a></div>
</div> -->
<div class="input-field col s6"><a class="waves-effect waves-light btn" href="/#!/aportes">aportar a proyectos</a></div>
<div class="input-field col s6"><a class="waves-effect waves-light btn" href="/#!/ingresoconsumo">Ingresar consumo</a></div>
</div>
</div>