<div ng-controller="ListaproyectosCtrl"><div ng-include="listaproyectos.menutemplate.url"></div></div>

<div class="container">
  <table ng-controller="HomeCtrl" class="bordered striped">
        <thead>
          <tr>
              <td>Nombre proyecto
          </td>
          <td> Estado proyecto</td>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="p in proyectos | filter: {estado: 'En proceso fase 1'||'Terminado fase 1'||'Adjudicado fase 2' } " >
            <td>{{p.nombre}}</td>
            <td>{{p.estado}}</td>
            <td><a ng-href="#!/detalles/{{p.idproyecto}}">Detalles<i class="material-icons left">info</i> </a>{{p.id}}</td>
            <td><a ng-click="remove(p.idproyecto)">Eliminar<i class="material-icons left">delete</i> </a>
                     </td>
            <td><a href="#!/editar/{{p.idproyecto}}">Editar<i class="material-icons left">edit</i> </a>
                    <a ng-click="submit(p.idproyecto)"></td>
            <td>
            <a href="#!/subir/{{p.idproyecto}}"> Agregar una imagen a proyecto</a>
            </td>
                    
          </tr>
        </tbody>
      </table>
</div>
<p>This is the listaproyectos view.</p>
