
  <nav>
    <div class="nav-wrapper green darken-3">
        
      <ul class="left hide-on-med-and-down">
        <li><a onclick="Materialize.toast('Inicio', 4000,'rounded')" ng-href="/#!/inicio">Inicio</a></li>
        <li><a  onclick="Materialize.toast('Salir', 4000,'rounded')" ng-href="/#!">Salir</a></li>
          <!-- <li><a href="/hazte_capacitador">Hazte Capacitador</a></li> -->
      </ul>
           <!-- Dropdown Trigger -->
      <ul  class="right hide-on-med-and-down">
         <li><a onclick="Materialize.toast('Huella de carbono', 4000,'rounded')" ng-href="/#!/hcarbono">¿Qué es la huella de carbono?</a></li>
        <li><a ng-href="/#!/proyectos">Proyectos</a></li>
        <li><a ng-href="/#!/consumodiario">Mi Consumo</a></li>

        
      </ul>

    </div>
  </nav>

<div ng-controller="LoginCtrl">
<p>Usuario : {{user}}</p>

</div>

