<div ng-include="subir.menutemplate.url"></div></div>

<div ng-controller="ViewCtrl">
      Subir imagen para proyecto: {{proyectos.nombre}}
</div>
<div  class ="input col s6">
        <div>
            <form name="upload" ng-submit="uploadFile()">
                  <input type="text" ng-model="name" /><br>
                  <input type="file" name="file" uploader-model="file" /> <br>
                  <input type="submit" value="Enviar"> 
            </form>
        </div>
      </div> 
<p>This is the subir view.</p>
